
## User settings
xcuserdata/


*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings


## Playgrounds
timeline.xctimeline
playground.xcworkspace